/*
RJ's Grid System
v1.0
*/


// Layout
$pad: 18px;

.container {
  padding-left: $pad;
  padding-right: $pad;
}

.row {
  @extend .clearfix;
  margin-left: -$pad;
  margin-right: -$pad;
}

div[class*="col-"] {
  float: left;
  padding-left: $pad;
  padding-right: $pad;
}

// Grid
.col-xs-1 {
  width: (1/12)*100%;
}

.col-xs-2 {
  width: (2/12)*100%;
}

.col-xs-3 {
  width: (3/12)*100%;
}

.col-xs-4 {
  width: (4/12)*100%;
}

.col-xs-5 {
  width: (5/12)*100%;
}

.col-xs-6 {
  width: (6/12)*100%;
}

.col-xs-7 {
  width: (7/12)*100%;
}

.col-xs-8 {
  width: (8/12)*100%;
}

.col-xs-9 {
  width: (9/12)*100%;
}

.col-xs-10 {
  width: (10/12)*100%;
}

.col-xs-11 {
  width: (11/12)*100%;
}

.col-xs-12 {
  width: 100%;
}
